<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewBag.Title - MyApp</title>

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" asp-append-version="true" />
	<link href="~/wwwroot/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

	@RenderSection("Styles", required: false)
</head>
<body>

	<nav class="navbar navbar-expand-lg bg-body-tertiary">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">Gestión de alumnos</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link active" asp-controller="Alumnos" asp-action="Index" asp->Inicio</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" asp-controller="Alumnos" asp-action="Index" asp->Alumnos</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" asp-controller="Carreras" asp-action="Index" asp->Carreras</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container">
		@RenderBody()
	</div>

	<!-- Bootstrap JS and dependencies -->
	<script src="~/lib/bootstrap/js/bootstrap.bundle.min.js" asp-append-version="true"></script>

	@RenderSection("Scripts", required: false)
</body>
</html>
